

#grid {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "banner logo banner2"
    "banner main_page banner2";
  width: 100%;
  height: 100%;
}

#banner {
    grid-area: banner;
    background-color: brown;
    min-height:100%;
}

#banner2 {
    grid-area: banner2;
    background-color: brown;
    min-height: 100%;
}

#logo{
  grid-area: logo;

}

#logo p{
  align-content: center;
  text-align: center;
}

#main_page {
   grid-area: main_page;
    background-color: aliceblue;
    min-height: 100%;
}

#main_page p {
     text-align: center;
    margin-bottom: 20px;
     width: 100%;
    height: auto;
    align-content: center;
}

#main_page p img {
  height: 300px;
  width: 300px;
}
